<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background = "background.jpg" onload="populateReview()">
<script src="saveBurger.js"></script>
<div id="starter" style="background:#F5CBA7">
    <img src="burger_v1.gif" height=300px width=100%>
</div> </br> </br>
<center><h1 id="heading" style="color:white"><label class="container">REVIEWS</h1>
 </br>
</center>

<div>
    <button type="button" class="btn btn-success add-cart" id="addComment" onclick="location.href = 'addComment.html'">Add Comment </button>
</div>
<div id="result">
</div>
<div id="itemlist">


</div>
<div>
    <button type="button" class="btn btn-success add-cart" id="friedonion" onclick="location.href = 'landing.html'">Home</button>
    <!--<button type="button" class="btn btn-success add-cart" id="friedonion" onclick="location.href = 'edit.html'">Edit Cart</button>-->
    <!--<button type="button" class="btn btn-primary" id="Finish" onclick="clearCart()">Clear Cart</button>-->

</div>


<script src="saveBurger.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
